<div class="col-xs-4">
  <%= link_to "< 前開催", "#", class: "btn btn-lg btn-primary pull-left" %>
</div>
<div class="col-xs-4">
  <h2><%= link_to @menu.today_date.strftime("%Y年 %-m月 %-d日"), "#" %></h2>
</div>
<div class="col-xs-4">
  <%= link_to "次開催 >", "#", class: "btn btn-lg btn-primary pull-right"%>
</div>
