<h1>ユーザ一覧</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= image_tag user.picture.url, width: "50", height: "50" %>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>