<% if !@micropost.race.hose6_name.nil? %>
  <tr class='gate_<%= @micropost.race.hose6_gate_color %>'>
          <td>
            <font color="#000000">
              <%= k.radio_button :first_hoses, :'6' %>
            </font>
          </td>
          <td><%= @micropost.race.hose6_number %></td>
          <td><%= @micropost.race.hose6_name %></td>
        </tr>
<% end %>