<header class="navbar navbar-fixed-top navbar-inverse" style="background-color:#7CC716; margin-bottom: 0px;">
<div class="container">
  <%= link_to "タイトルは未定", root_path, id: "logo" %>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "会員登録",   "#" %></li>
      <li><%= link_to "会員検索",   "#" %></li>
    </ul>
  </nav>
</div>
</header>