<div class="col-xs-3" style="background-color:#F0F3F5;">
  <ul class="nav nav-pills nav-stacked">
    <li class="sidebar">
      <div class="sidebar_avatars">
        <%= image_tag "avatardefault.png" %>
      </div>
    </li>
    <li class="center">
      ゲストさん
    </li>
  </ul>
</div>