<div class="col-xs-3" style="background-color:#F0F3F5;">
  <ul class="nav nav-pills nav-stacked">
    <li class="sidebar">
      <div class="sidebar_avatars">
        <%= image_tag current_user.picture.url %>
      </div>
    </li>
    <li class="center">
      <%= link_to current_user.name, user_path(current_user) %>
    </li>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <li class="center">
      <div class="stats">
        <p>
          的中率
          <strong id="following" class="stat">
            <!-- TODO ログインユーザの的中率が表示できるようにする -->
            100%
          </strong>
        </p>
        <p>
          回収率
          <strong id="following" class="stat">
            <!-- TODO ログインユーザの回収率が表示できるようにする -->
            100%
          </strong>
        </p>
      </div>
    </li>
  </ul>
  <%= link_to "登録情報を変更する", userinfo_change_new_path, class: "btn btn-primary center-block" %>
</div>