<div class="col-xs-3" style="background-color:#F0F3F5;">
  <ul class="nav nav-pills nav-stacked">
    <li class="sidebar">
      <div class="sidebar_avatars">
        <!-- TODO ログインユーザのアバターが表示できるように変更 -->
        <%= link_to image_tag("terada_kokoro.jpg", alt: "Rails logo"), '#' %>
      </div>
    </li>
    <li class="center">
      <%= link_to "ゲストさん", '#' %>
    </li>
    <li class="center">
      <div class="stats">
        <a href="#">
          <strong id="following" class="stat">
            <!-- TODO ログインユーザのフォロー数が表示できるように変更 -->
            10
          </strong>
          フォロー
        </a>
        <a href="#">
          <strong id="followers" class="stat">
            <!-- TODO ログインユーザのフォロー数が表示できるように変更 -->
            10
          </strong>
          フォロワー
        </a>
      </div>
    </li>
    <li class="center">
      <div class="stats">
        <p>
          的中率
          <strong id="following" class="stat">
            <!-- TODO ログインユーザの的中率が表示できるようにする -->
            100%
          </strong>
        </p>
        <p>
          回収率
          <strong id="following" class="stat">
            <!-- TODO ログインユーザの回収率が表示できるようにする -->
            100%
          </strong>
        </p>
      </div>
    </li>
    <li>
      <%= link_to "レースを予想する", "#", class: "btn btn-lg btn-primary" %>
    </li>
  </ul>
</div>