<!DOCTYPE html>
<html>
  
  <head>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/header' %>
  </head>
  
  <body>
    <%= render 'layouts/sidebar' %>    
    <%= yield %>
  </body>

</html>
